{% extends "not_logged_in.html" %}
{% block content %}
    <div class="container pt-2 my-3" id="start">
        <form action = "{{ url_for('logged_in') }}" method="post">
            <h1>Login</h1>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username/Email</label>
                <input class="form-control" id="username" type = "text" name = "username" placeholder="Ender Username/Email">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <form action = "{{ url_for('home') }}" method="get">
            <button type="submit" class="btn btn-link">Go back home</button>
        </form>
        <form action = "{{ url_for('sign_up') }}" method="get">
            <button type="submit" class="btn btn-link">Don't have a account?</button>
        </form>
    </div>
{% endblock %}