{% extends "not_logged_in.html" %}
{% block content %}
    <div class="container pt-2 my-3" id="start">
        <form action = "{{ url_for('signed_up') }}" method="POST">
            <h1>Sign In</h1>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <form action = "{{ url_for('home') }}" method="get">
            <button type="submit" class="btn btn-link">Go back home</button>
        </form>
        <form action = "{{ url_for('login') }}" method="get">
            <button type="submit" class="btn btn-link">Already got a account?</button>
        </form>
    </div>
{% endblock %}